body {
  background: orange;
}

.bg-color {
  color: #101147;
  background: #101147;
}

.height {
  height: 2000px;
}

#mainrect { /* entire rectangle */
  width: 700px;
  background: white;
  margin: auto;
  border: 1px solid black;
}

#smallrect { /* rectangle on the right side*/
  width: 130px;
  border: px solid black;
  /* margin-left: 600px; */
  /* margin-bottom: 500px; */
  float: right;
}

#head { /* 406 header, have this for float */
  float: right;
  margin: 0;
}

h1 { /* 406 header */
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 380px;
  font-size: 150px;
  font-family: "Helvetica", Times, serif;
  color: #101147;
}

#bus { /* Body of bus */
  background: #101147;
  width: 340px;
  height: 500px;
  background: /* white */
  ;
  float: left;
  z-index: 1;
  overflow: hidden;
}

.bus-holes { /* sets the color of all the "holes" in the bus, like the window, headlights, etc */
  background: white;
}

#bus-destination { /* The rounded rectangle at the top of the bus */
  border-radius: 25px;
  padding: 5px;
  width: 200px;
  height: 13px;
  margin-left: 45px;
  margin-top: 10px;
  z-index: 10;
}

#bus-window { /* the window of the bus */
  border-radius: 25px;
  padding: 5px;
  width: 300px;
  height: 150px;
  margin-left: -30px;
  margin-top: 30px;
  z-index: 5;
}

#bus-window-angle {
  border-radius: 25px;
  padding: 5px;
  width: 15px;
  height: 150px;
  margin-left: 262px;
  margin-top: -160px;
  z-index: 10;
  -ms-transform: rotate(-6deg);
  /* IE 9 */
  -webkit-transform: rotate(-6deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-6deg);
}

#fix-rect { /* one of two rectangles to fix the slant on the right */
  padding: 5px;
  width: 50px;
  height: 140px;
  margin-left: 220px;
  margin-top: -150px;
  z-index: 6;
}

#fix-rect-small { /* one of two rectangles to fix the slant on the right */
  padding: 5px;
  width: 20px;
  height: 20px;
  margin-left: 239px;
  margin-top: -160px;
  z-index: 6;
}

#light { /* common attributes for the lights */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.light-left {
  margin-top: 200px;
  margin-left: -30px;
}

.light-right {
  margin-top: -50px;
  margin-left: 240px;
  float: left;
}


.bus-top {
  background: #101147;
  border-radius: 50%;
  width: 340px;
  height: 50px;
  z-index: 1;
  margin-top: 560px;
  top: 0;
  left: 0;
  z-index: 10;
}

#bus-bottom {
  margin-top: 50px;
  width: 340px;
  height: 107px;
  background: white;
  float: left;
  z-index: 10;
}

.bus-wheel {
  border-radius: 25px;
  padding: 5px;
  width: 40px;
  height: 60px;
  z-index: 10;
  -ms-transform: rotate(-6deg);
  IE 9 -webkit-transform: rotate(-6deg);
  Chrome,
  Safari,
  Opera transform: rotate(-6deg);
}

.bus-left-wheel {
  background: #101147;
  margin-left: -25px;
  margin-top: -25px;
}

.bus-right-wheel {
  background: #101147;
  margin-left: 242px;
  margin-top: -70px;
 /* float: left; */
}

.website {
  color: #101147;
  margin-left: -170px;
  margin-top: 35px;
  font-style: italic;
  font-style: bold;
}